a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: pink;
    background-color: violet;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    font-size: 2em;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }